.header-container {
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--logo-footer);
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header .item + .item {
  margin-left: 50px;
}
.header-contact {
  margin-left: 331px;
  display: flex;
  align-items: center;
}
.navigation-container {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--header-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--header-nav-hover);
}
.current-nav-item {
  position: relative;
}
.nav-item {
  position: relative;
}
.current-nav-link {
  color: var(--header-nav-hover);
}
.current-nav-link::after {
  position: absolute;
  bottom: -1px;
  content: '';
  background: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
}
.contact-header {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--contact-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-contact .item + .item {
  margin-right: 50px;
}
.contact-header-item {
  fill: #757575;
  margin-right: 30px;
}
.contact-header-item:hover,
.contact-header-item:focus {
  fill: var(--accent-color);
}
.contact-link-header {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.contact-header-item:last-child {
  margin-right: 0px;
}
.contact-header:hover,
.contact-header:focus {
  fill: var(--accent-color);
  color: var(--contact-hover);
}
.contanct-icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contanct-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
